.Palete-colors{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
}

.Palete-detail{
    flex: 1;
    display: flex;
    height: 200px;
    margin-bottom: 20px;
}

.Cores-paleta{
    flex: 1;
    font-size: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color:#4C5459;
    text-transform: uppercase;
    font-weight: bold;
    margin-inline-start: unset;
    margin-block-start: unset;
    margin-inline-end: unset;
    margin-top: 10px;
}

.Tipo{
    flex: 1;
    font-size: 24px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color:#4C5459;
    text-align: center !important;
    margin-inline-start: unset;
    margin-block-start: unset;
    margin-inline-end: unset;
    margin-bottom: 20px;
}

.Type{
    font-size: 28px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: bold;  
    color:#4C5459;
    text-align: center;
    margin-top: 0px;

}

.Images-thumb{
    max-width: 30%;
    -webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 30px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.50); 
    }

.Container-images{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-between;
}
.Container-icons{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-around;
}
.icons-thumb{
    width: 15%;
    justify-content: space-between;
}