html,
body {
  height: 100%;
  margin: 0;
  background-color: #f5f5f5;
}

body {
  font-family: "Montserrat", sans-serif;
}

.Content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.content:after {
  content: "\00a0";
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Logo-main {
  max-width: 100%;
  align-self: start;
  align-items: flex-start;
  transition: 0.5s;
}

.Logo-main:hover {
  opacity: 0.6;
}

.Logo-main:active {
  opacity: 0.6;
}
.App-header {
  display: flex;
  flex-direction: grid;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  top: 0;
}

.App-header-index {
  display: flex;
  flex-direction: grid;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  top: 0;
}

.Link-img {
  text-decoration: none;
  text-align: left;
  max-width: 6%;
}

.Link {
  color: #eb86b6;
  padding: 1.3vh;
  text-decoration: none;
  transition: 0.5s;
  background-color: #ffffff60;
  border-radius: 2vh;
  margin: 0vh 1vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3vw;
  letter-spacing: 0.10em;
}

.Link:hover {
  background-color: #eb86b6bb;
  color: #fff;
}

.Link:active {
  background-color: #f2bbc5;
}
.Link-footer {
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  transition: 0.5s;
  align-content: flex-end;
}
.Link-footer:hover {
  background-color: #f2bbc5;
  color: #282c34;
}

.Link:active {
  background-color: #f2bbc5;
}

.Menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vh 7vh;
  z-index: 99;
  width: 100%;
  background-color: #FFFFFF30;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  bottom: 0;
  background-color: #282c34;
  text-align: center;
  -webkit-box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px -1px rgba(0, 0, 0, 0.75);
  align-content: center;
  justify-content: center;
}

footer p {
  color: #eee;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

footer img {
  max-width: 5%;
}

hr {
  background: url("../images/footerstar.png") no-repeat center;
  background-size: contain;
  display: block;
  height: 60px;
  border: 0;
  position: relative;
}
hr:before,
hr:after {
  content: "";
  display: block;
  position: absolute;
  background: #f2bbc570;
  height: 2px;
  top: 30px;
}
hr:before {
  left: 0;
  right: 50%;
  margin-right: 30px;
}
hr:after {
  right: 0;
  left: 50%;
  margin-left: 30px;
}

footer .footer-elements {
  justify-content: center;
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  p {
    font-size: 10px;
  }
  .Titulos h2 {
    font-size: 2.3em;
  }

  .Titulos h4 {
    font-size: 1.4em;
  }
  .Menu-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  p {
    font-size: 12px;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  p {
    font-size: 14px;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  p {
    font-size: 9px;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  p {
    font-size: 7px;
  }
}
.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 0.2vh;
	border-bottom-width: 0.2vh;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.1);
  color: #fff;
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2vh;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

.btn-header {
	text-align: center;
  cursor: pointer;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 2.5vh;
  text-decoration: none;
  padding: 2vh;
  font-weight: 500;
  color: #eb86b6;
  justify-content: center;
  align-items: center;
}
