.Titulos h2 {
  font-size: 3.3em;
}

.Titulos h4 {
  font-size: 1.7em;
}
.Menu-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}
.Image-main {
  width: 100%;
  border: 0px;
  top: 0%;
  left: 0%;
}

.Container {
  position: relative;
}
.Logo-detail {
  display: inline-block;
  width: 3vh;
  padding-top: 0px;
}
.Titles {
  font-size: 5vh;
  font-family: "Nunito", sans-serif;
  color: #2bbffe;
  display: inline-block;
  margin: 2vh;
}
.Titulos-complete {
  display: flex;
  align-items: center;
  justify-content: left;
}
.Titulos-rhu {
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  -webkit-box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.75);
  padding: 20px 200px;
}

.Projects {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 3vh 0vh;
}

.Thumb-images {
  width: 100%;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
}

.Box-thumb {
  width: 30%;
  opacity: 1;
  border-radius: 2vh;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.1);
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.Box-thumb:hover {
  opacity: 0.5;
}

.Box-thumb h4 {
  font-size: 3.3vh;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(
    -225deg,
    #ffe29f 0%,
    #ffa99f 48%,
    #ff719a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 2vh;
  padding: 0.3em;
  text-transform: uppercase;
  line-height: 3vh;
  margin: 2vh;
}
.Box-thumb h5 {
  font-size: 1.8vh;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  line-height: 3vh;
  color: #4c5459;
  text-transform: uppercase;
  margin: 2vh 3vh;
}

.Rhu {
  width: 60%;
  border-radius: 50%;
}

.Link-body {
  color: #fff;
  background-image: linear-gradient(
    -225deg,
    #ffe29f 0%,
    #ffa99f 48%,
    #ff719a 100%
  );
  border-radius: 30px;
  margin: 0px 40px;
  padding: 20px 30px;
  text-decoration: none;
  display: inline;
  text-align: right !important;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  align-items: center;
  transition: all 0.5s;
  position: relative;
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 2vh;
  font-weight: 400;
  line-height: 45px;
  max-width: 40vh;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1vh 0vh;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #fff;
  border-radius: 4vh;
  background-image: linear-gradient(
    -225deg,
    #ffe29f 0%,
    #ffa99f 48%,
    #ff719a 100%
  );
  border-image-slice: 1;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}
.effect01:hover {
  border: 4px solid #fff;
  border-radius: 4vh;
  border-image-source: linear-gradient(
    -225deg,
    #ff719a 0%,
    #ffa99f 48%,
    #ffe29f 100%
  );
  border-image-slice: 1;
  background-image: linear-gradient(
    -225deg,
    #ff719a 0%,
    #ffa99f 48%,
    #ffe29f 100%
  );
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 4px #eee inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span {
  letter-spacing: 0.13em;
  font-size: 2.2vh;
  color: #eee;
}

/*highlight*/
.effect01:after {
  background: #fff;
  border: 4px solid #fff;
  background-image: none;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #fff;
  border: 20px solid #eee;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.Thumb-profile {
  align-items: center;
  justify-content: center;
  width: 80%;
}
.Thumb-profile-2 {
  align-items: center;
  justify-content: center;
  width: 70%;
}
.Thumb-profile-3 {
  align-items: center;
  justify-content: center;
  width: 40%;
}

.Thumb-profile-view {
  width: 40%;
  align-items: center;
  justify-content: center;
}
.Align-profile-detail {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 5vh 0vh;
}
.Align-profile-detail-2 {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 3vh 0vh;
}

.Align-profile-div {
  padding: 0vh 7vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/molten-amulet-237116.appspot.com/o/profile.png?alt=media&token=9ec08385-7937-4def-b17a-7626b9ea2995");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: auto 100%;
  align-items: center;
  justify-content: center;
}

.Align-profile-div-2 {
  padding: 0vh 7vh;
  align-items: center;
  justify-content: center;
}
.Align-profile-div-2 h2 {
  font-size: 5vh;
  font-family: "Nunito", sans-serif;
  color: #e996a9;
  margin: 0;
}
.Align-profile-div-2 h4 {
  font-size: 2.2vh;
  font-family: "Montserrat", sans-serif;
  color: #4c5459;
  font-weight: 500;
  line-height: 5vh;
  letter-spacing: 0.1vh;
}
h2 {
  font-size: 5vh;
  font-family: "Nunito", sans-serif;
  color: #eee;
}

h4 {
  font-size: 2.2vh;
  font-family: "Montserrat", sans-serif;
  color: #eee;
  font-weight: 500;
  line-height: 5vh;
  letter-spacing: 0.1vh;
}
h3 {
  font-size: 3vh;
  font-family: "Nunito", sans-serif;
  color: #f29d80;
  text-align: center;
  margin: 0;
}

.Text-header {
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
}

.Pipe-git {
  font-size: 3vh;
  color: #eb86b6;
}

.Body-index {
}

.Last-projects {
  padding: 0vh 7vh;
}
.Align-text-thumb {
  width: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.Align-text-profile {
  padding: 5vh 0vh 5vh 7vh;
  text-align: left;
  width: 50%;
}
.Align-text-profile-2 {
  padding: 5vh 7vh 5vh 0vh;
  text-align: right;
  width: 50%;
}
